{% extends 'portfolio/base.html' %}

{% block title %}About - Portfolio{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8">
        <h2>About Me</h2>
        <p>I'm a passionate full-stack developer with experience in building web applications, APIs, and cloud solutions. I enjoy solving complex problems and creating efficient, scalable software.</p>
        
        <h3>Skills</h3>
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li>Python & Django</li>
                    <li>JavaScript & React</li>
                    <li>PostgreSQL & MongoDB</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>AWS & Docker</li>
                    <li>Git & CI/CD</li>
                    <li>REST APIs</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5>Contact Info</h5>
                <p>Email: developer@example.com</p>
                <p>Location: Remote</p>
                <p>Available for freelance work</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
